In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('atividade-prestacao-sns-24-para-a-sindrome-gripal.csv', sep=';')

In [32]:
df.head()

,RowID,﻿Período,Indicador,Dia da Semana,Número da Semana,Valor Absoluto,Taxa
0,10092,2017-10-22,Encaminhamentos p/ Outros,domingo,43,0,0.000000
1,10149,2017-10-24,Encaminhamentos p/ Autocuidados,terça-feira,43,14,0.666667
2,10213,2017-10-26,Encaminhamentos p/ Serviço Urgência,quinta-feira,43,3,0.136364
3,10366,2017-10-31,Encaminhamentos p/ Autocuidados,terça-feira,44,9,0.473684
4,10552,2017-11-06,Encaminhamentos p/ Autocuidados,segunda-feira,45,6,0.461538

In [33]:
df = df.rename(columns = {
    'Dia da Semana': 'dia_semana',
    'Valor Absoluto' : 'valor_absoluto',
    'Taxa' : 'taxa',
    'Indicador' : 'indicador',
    'Número da Semana': 'nr_semana',
     df.columns[1] : 'periodo' #weird encoding
} )

df = df.drop(columns=['RowID'])

In [34]:
df.loc[df.indicador == 'Encaminhamentos p/ Outros', 'indicador'] = 'encam_outros'
df.loc[df.indicador == 'Encaminhamentos p/ Autocuidados', 'indicador'] = 'encam_autocuidados'
df.loc[df.indicador == 'Encaminhamentos p/ Serviço Urgência', 'indicador'] = 'encam_urgencia'
df.loc[df.indicador == 'Encaminhamentos p/ CIAV', 'indicador'] = 'encam_CIAV'
df.loc[df.indicador == 'Encaminhamentos p/ INEM', 'indicador'] = 'encam_INEM'
df.loc[df.indicador == 'Encaminhamentos p/ CSP', 'indicador'] = 'encam_CSP'

In [35]:
df = df.sort_values(by=['periodo', 'indicador'])

In [36]:
df.head()

,periodo,indicador,dia_semana,nr_semana,valor_absoluto,taxa
3511,2016-12-01,encam_CIAV,quinta-feira,49,0,0.000000
4974,2016-12-01,encam_CSP,quinta-feira,49,8,0.333333
6116,2016-12-01,encam_INEM,quinta-feira,49,0,0.000000
1554,2016-12-01,encam_autocuidados,quinta-feira,49,15,0.625000
2814,2016-12-01,encam_outros,quinta-feira,49,0,0.000000

In [37]:
#https://stackoverflow.com/questions/22798934/pandas-long-to-wide-reshape-by-two-variables

df2 = df.pivot(index='periodo',columns= 'indicador',
        values = ['valor_absoluto', 'taxa'] ).reset_index()

In [38]:
df2.head()

              periodo valor_absoluto                                          \
indicador                 encam_CIAV encam_CSP encam_INEM encam_autocuidados
0          2016-12-01            0.0       8.0        0.0               15.0
1          2016-12-02            0.0       7.0        0.0               15.0
2          2016-12-03            0.0       4.0        0.0                5.0
3          2016-12-04            0.0       7.0        0.0               13.0
4          2016-12-05            0.0      21.0        0.0               13.0

                                            taxa                       \
indicador encam_outros encam_urgencia encam_CIAV encam_CSP encam_INEM
0                  0.0            1.0        0.0  0.333333        0.0
1                  0.0            1.0        0.0  0.304348        0.0
2                  0.0            0.0        0.0  0.444444        0.0
3                  1.0            2.0        0.0  0.304348        0.0
4                  0.0            5.0        0.0  0.538462        0.0


indicador encam_autocuidados encam_outros encam_urgencia
0                   0.625000     0.000000       0.041667
1                   0.652174     0.000000       0.043478
2                   0.555556     0.000000       0.000000
3                   0.565217     0.043478       0.086957
4                   0.333333     0.000000       0.128205

In [39]:
df2.columns = ['_'.join(col) if col[0]!='periodo' else col[0] for col in df2.columns]

In [40]:
df2.head()

,periodo,valor_absoluto_encam_CIAV,valor_absoluto_encam_CSP,valor_absoluto_encam_INEM,valor_absoluto_encam_autocuidados,valor_absoluto_encam_outros,valor_absoluto_encam_urgencia,taxa_encam_CIAV,taxa_encam_CSP,taxa_encam_INEM,taxa_encam_autocuidados,taxa_encam_outros,taxa_encam_urgencia
0,2016-12-01,0.0,8.0,0.0,15.0,0.0,1.0,0.0,0.333333,0.0,0.625000,0.000000,0.041667
1,2016-12-02,0.0,7.0,0.0,15.0,0.0,1.0,0.0,0.304348,0.0,0.652174,0.000000,0.043478
2,2016-12-03,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.444444,0.0,0.555556,0.000000,0.000000
3,2016-12-04,0.0,7.0,0.0,13.0,1.0,2.0,0.0,0.304348,0.0,0.565217,0.043478,0.086957
4,2016-12-05,0.0,21.0,0.0,13.0,0.0,5.0,0.0,0.538462,0.0,0.333333,0.000000,0.128205

In [28]:
df[df['periodo'] == '2016-12-01']

,periodo,indicador,dia_semana,nr_semana,valor_absoluto,taxa
3511,2016-12-01,encam_CIAV,quinta-feira,49,0,0.000000
4974,2016-12-01,encam_CSP,quinta-feira,49,8,0.333333
6116,2016-12-01,encam_INEM,quinta-feira,49,0,0.000000
1554,2016-12-01,encam_autocuidados,quinta-feira,49,15,0.625000
2814,2016-12-01,encam_outros,quinta-feira,49,0,0.000000
1555,2016-12-01,encam_urgencia,quinta-feira,49,1,0.041667

In [29]:
df2.to_csv('atividade-operacional-sns24-cleaned.csv', sep=',', index=False)