In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('atendimentos-nos-csp-gripe-orig.csv', sep=';')

In [3]:
df = df.rename(columns = {
    'Nº Consultas nos CSP': 'n_cons_csp',
    'Nº Consultas CSP (Não Programadas)' : 'n_cons_csp_np',
    'Nº Consultas CSP (Programadas)' : 'n_cons_csp_p',
    'Nº Consultas Gripe nos CSP' : 'n_cons_csp_gripe'
} )

In [4]:
df.loc[df.ARS == 'ARS Alentejo', 'ARS'] = 'alentejo'
df.loc[df.ARS == 'ARS Algarve', 'ARS'] = 'algarve'
df.loc[df.ARS == 'ARS Centro', 'ARS'] = 'centro'
df.loc[df.ARS == 'ARS Lisboa e Vale do Tejo', 'ARS'] = 'lisboa'
df.loc[df.ARS == 'ARS Norte', 'ARS'] = 'norte'

In [5]:
df = df.sort_values(by=['Período', 'ARS'])

In [6]:
df.head()

,Período,ARS,n_cons_csp,n_cons_csp_np,n_cons_csp_p,n_cons_csp_gripe
1289,2016-11-01,alentejo,895.0,839.0,56.0,8.0
1290,2016-11-01,algarve,276.0,225.0,51.0,1.0
4281,2016-11-01,centro,1667.0,1667.0,0.0,9.0
2681,2016-11-01,lisboa,1200.0,1200.0,0.0,13.0
4067,2016-11-01,norte,2187.0,2187.0,0.0,8.0

In [7]:
#https://stackoverflow.com/questions/22798934/pandas-long-to-wide-reshape-by-two-variables

df2 = df.pivot(index='Período',columns= 'ARS',
        values = ['n_cons_csp_gripe', 'n_cons_csp_p', 'n_cons_csp_np', 'n_cons_csp_gripe'] ).reset_index()

In [8]:
df2.head()

        Período n_cons_csp_gripe                             n_cons_csp_p  \
ARS                     alentejo algarve centro lisboa norte     alentejo
0    2016-11-01              8.0     1.0    9.0   13.0   8.0         56.0
1    2016-11-02             21.0     9.0   39.0   70.0  61.0       3603.0
2    2016-11-03             17.0     3.0   30.0   48.0  55.0       3521.0
3    2016-11-04             13.0    13.0   43.0   43.0  54.0       2930.0
4    2016-11-05              9.0     0.0   17.0   14.0  25.0         52.0

                              ...  n_cons_csp_np                            \
ARS algarve  centro   lisboa  ...       alentejo algarve   centro   lisboa
0      51.0     0.0      0.0  ...          839.0   225.0   1667.0   1200.0
1    1895.0  9452.0  17488.0  ...         5041.0  2456.0  14198.0  13590.0
2    2217.0  9978.0  16594.0  ...         4798.0  2478.0  13346.0  11997.0
3    1740.0  6314.0  13754.0  ...         3332.0  1919.0  10156.0  10409.0
4       2.0    97.0     27.0  ...          820.0   360.0   1857.0   1926.0

             n_cons_csp_gripe
ARS    norte         alentejo algarve centro lisboa norte
0     2187.0              8.0     1.0    9.0   13.0   8.0
1    31383.0             21.0     9.0   39.0   70.0  61.0
2    28544.0             17.0     3.0   30.0   48.0  55.0
3    24299.0             13.0    13.0   43.0   43.0  54.0
4     2406.0              9.0     0.0   17.0   14.0  25.0

[5 rows x 21 columns]

In [9]:
df2.columns = ['_'.join(col) if col[0]!='Período' else col[0] for col in df2.columns]

In [10]:
df2.head()

,Período,n_cons_csp_gripe_alentejo,n_cons_csp_gripe_algarve,n_cons_csp_gripe_centro,n_cons_csp_gripe_lisboa,n_cons_csp_gripe_norte,n_cons_csp_p_alentejo,n_cons_csp_p_algarve,n_cons_csp_p_centro,n_cons_csp_p_lisboa,...,n_cons_csp_np_alentejo,n_cons_csp_np_algarve,n_cons_csp_np_centro,n_cons_csp_np_lisboa,n_cons_csp_np_norte,n_cons_csp_gripe_alentejo,n_cons_csp_gripe_algarve,n_cons_csp_gripe_centro,n_cons_csp_gripe_lisboa,n_cons_csp_gripe_norte
0,2016-11-01,8.0,1.0,9.0,13.0,8.0,56.0,51.0,0.0,0.0,...,839.0,225.0,1667.0,1200.0,2187.0,8.0,1.0,9.0,13.0,8.0
1,2016-11-02,21.0,9.0,39.0,70.0,61.0,3603.0,1895.0,9452.0,17488.0,...,5041.0,2456.0,14198.0,13590.0,31383.0,21.0,9.0,39.0,70.0,61.0
2,2016-11-03,17.0,3.0,30.0,48.0,55.0,3521.0,2217.0,9978.0,16594.0,...,4798.0,2478.0,13346.0,11997.0,28544.0,17.0,3.0,30.0,48.0,55.0
3,2016-11-04,13.0,13.0,43.0,43.0,54.0,2930.0,1740.0,6314.0,13754.0,...,3332.0,1919.0,10156.0,10409.0,24299.0,13.0,13.0,43.0,43.0,54.0
4,2016-11-05,9.0,0.0,17.0,14.0,25.0,52.0,2.0,97.0,27.0,...,820.0,360.0,1857.0,1926.0,2406.0,9.0,0.0,17.0,14.0,25.0

In [11]:
df[df['Período'] == '2016-11-01']

,Período,ARS,n_cons_csp,n_cons_csp_np,n_cons_csp_p,n_cons_csp_gripe
1289,2016-11-01,alentejo,895.0,839.0,56.0,8.0
1290,2016-11-01,algarve,276.0,225.0,51.0,1.0
4281,2016-11-01,centro,1667.0,1667.0,0.0,9.0
2681,2016-11-01,lisboa,1200.0,1200.0,0.0,13.0
4067,2016-11-01,norte,2187.0,2187.0,0.0,8.0

In [13]:
df2.to_csv('atendimento-nos-csp-gripe-cleaned.csv', sep=',', index=False)