In [2]:
import GetOldTweets3 as got
import csv
import pendulum
import pandas as pd

%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
def get_tweets_by_month(first_date, end_date):    
    # Open/create a file to append data to
    csvFile = open('result5.csv', 'a')

    #columns' names
    columns = ["id","date","username","text","hashtag","geo"]

    tags = ["coronavirus", "covid19", "covid-19", "covid", "corona", "covid19pt", "pandemia", "covid_19", "sarscov2"]

    #Use csv writer
    csvWriter = csv.writer(csvFile)
    csvWriter.writerow(columns)
    
    for day in pendulum.period(first_date, end_date).range('days'):
        
        date = day.to_date_string()
        date_after = day.add(days=1).to_date_string()
            
        for tag in tags:
            tweetCriteria = got.manager.TweetCriteria().setQuerySearch(tag)\
                                           .setSince(date)\
                                           .setUntil(date_after)\
                                           .setNear("39.700865, -8.127222")\
                                           .setWithin("600mi")\
                                           .setLang("pt")\
                                           .setMaxTweets(1000)
            tweet = got.manager.TweetManager.getTweets(tweetCriteria)
        
            for i in tweet:
                csvWriter.writerow([i.id, i.date, i.username, i.text,i.hashtags, i.geo])
            
            print("Search for " + tag + " between " + date + " and " + date_after + " done.") 

    csvFile.close()

    return ("Search completed.")

In [ ]:
first_date = pendulum.datetime(2020, 1, 1)
end_date = pendulum.datetime(2020, 6, 30)

get_tweets_between_dates(first_date,end_date)

In [3]:
df = read_csv('twe')

In [4]:
df.describe()

,id,date,username,text,hashtag,geo
count,40337,40337,40337,40337,11622,4
unique,23021,22825,6550,23070,2987,1
top,1245856385922813952,2020-04-02 23:31:23+00:00,TSFRadio,Free Excel tutorial: https://www.excel-easy.com,#COVID19,geo
freq,11,11,4311,27,922,4

In [5]:
df = df.drop_duplicates(subset='text', keep="first")

In [8]:
df.describe()

df.to_csv('tweets_clean.csv', index=False)

In [ ]:
def date_ymd(date):
  date_ymd = date[0:10]
  return date_ymd

df1['date_ymd'] = df['date'].apply(date_ymd)

In [ ]:
df1.head()

In [ ]:
df1['date_ymd'] = pd.to_datetime(df1['date_ymd'], errors='coerce', format='%Y-%m-%d')

In [ ]:
df1.groupby(df1["date_ymd"].dt.month).count().plot(kind="bar")